@import '../styles/var';

.header{
    width: $main-width;
    height: 65px;
    background: $primary-color;
    border-radius: 50px;
    margin-top: 19px ;
    margin-left: $margin;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 11px;

    &__title{
        display: flex;
        align-items: center;
        gap: 7px;
        color: #fff;
    }

    &__logo{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__text{
        width: 86px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1;
    }

    &__title{
        font-weight: 600;
        font-size: 19px;
    }

    &__subtitle{
        font-size: 19px;
        font-weight: 300;
    }

&__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 701px;
    font-size: 15px;

    ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        color: #fff;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: #ccc;
        }
      }
    }
  }

    &__lang{
        padding-right: 14px;
        display: flex;
        gap: 10px;
    }
}