@import '../styles/var';


.homepage{
    width: 1920px;
}

.parallax {
  transition: transform 0.2s ease; 
}
.down{
    margin-top: 34px;
}


.homepage__home{
    display: flex;
    width: $main-width;
    margin-left: $margin;
    flex-direction: column;
    align-items: center;
    margin-top: 59px;
    height: 696px;
    z-index: 1;

    &-block{
        display: flex;
        justify-content: space-between;
        background-image: url('../assets/Home/cloud_s.svg');
        background-repeat: no-repeat; 
        background-position: 380px 60px;
        background-size: 162px 400px;
        
    }

    &-title{
        margin-top: 103px;
        font-weight: 600;
        font-size: 60px;
        color: $primary-color;
        width: 765px;
        height: 154px;
        line-height: 80px;
    }

    &-children img{
        height: 595px;
    }

    &-btnbox{
        display: flex;
        flex-direction: column;
        gap: 38.86px;
        align-items: center;
    }
    &-btn{
        width: 267px;
        height: 55px;
        border-radius: 50px;
        background-color: $primary-color;
        color: #fff;
        align-items: center;
        font-size: 19px;
        border: none;
        cursor: pointer;
    }
    &-btn:hover{
        background-color: #fff;
        color: $primary-color;
        border: 1px solid $primary-color;
        transition: 0.6s;
    }
    &-arrow {
        height: 20.28px;
        width: 7.44px;
    }

}

.homepage__about{

    display: flex;
    flex-direction: column;
    align-items: center;
    &-title{
        width: 1920px;
        display: flex;
        justify-content: space-around;
        color: #FF4880;
        font-size: 50px;
        font-weight: 600;
        line-height: 70px;
        text-align: right;background-image: url('../assets/About/rainbow.svg');
        background-repeat: no-repeat; 
        background-position: 130px 2px;
        background-size: 193px 128px;
    }
    &-content{
        display: flex;
        gap: 88px;
        margin-top: 50px;
    }
    &-text{
        width: 656px;
        margin-top: 208px;
        color: #828181;
        font-size: 17px;
        line-height: 26px;
    }
    &-girlimg{
        background: url('../assets/About/girl.svg') no-repeat center;
        background-size: cover;
        position: relative;   
        width: 590px;   
        height: 667px;
    }
    &-plane{
        background: url('../assets/About/plane.svg') no-repeat center;
        background-repeat: no-repeat; 
        background-size: 241px 351px;
        background-position: 0 210px;
    }
    &-adv{
        display: flex;
        width: 1440px;
        justify-content: space-between;
        margin-top: 110px;
                    gap: 40px;

        &-item{
            display: flex;
            flex-direction: column;
            width: 340px;
        }

        &-header{
            color: #000;
            font-size: 17px;
            display: flex;
            margin: 24px 20px 23px 17px;
            h3{
                margin-left: 21px;
                max-width: 210px;
            }
        }

        &-text{
            color: #434343;
            font-size: 15px;
            line-height: 26px;
        }
    }


}

.homepage__groups{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 1920px;

    &-heading{
        width: 1920px;
        display: flex;
        justify-content: center;
        position: relative;
        
        &-icon1{
        background: url('../assets/Groups/icon1.svg')no-repeat center;
        background-size: cover;
        position: absolute;
        width: 83.44px;
        height: 85px;
        z-index: 5;
        top: 192px;
        left: 1307px;
    }

        &-icon2{
        background: url('../assets/Groups/icon2.svg')no-repeat center;
        background-size: cover;
        position: absolute;
        width: 83.44px;
        height: 85px;
        z-index: 5;
        top: 204px;
        left: 1446px;
    }

        &-icon3{
        background: url('../assets/Groups/icon3.svg')no-repeat center;
        background-size: cover;
        position: absolute;
        width: 83.44px;
        height: 85px;
        z-index: 5;
        top: 200px;
        left: 1565px;
    }

        &-icon4{
        background: url('../assets/Groups/icon4.svg')no-repeat center;
        background-size: cover;
        position: absolute;
        width: 83.44px;
        height: 85px;
        z-index: 5;
        top: 195px;
        left: 1689px;
    }
    }

    &-title{
        margin-top: 194px;
        line-height: 48px;
        font-size: 35px;
        color: $primary-color;
        font-weight: 600;
        margin-bottom: 65px;
    }

    &-lessons{
        display: flex;
        gap:15px;
        width: 1440px;
        justify-content: space-between;
    }

    &-lesson{
        display: flex;
        flex-direction: column;
        width: 347.7px;
        height: 406px;
        border-radius: 10px;
        align-items: center;
        cursor: pointer;

        &-text{
            max-width: 202px;
            padding-left: 60px;
            padding-right: 60px;
            height: 92.76px;
            border-radius: 0 0 20px 20px;
            text-align: center;
            padding-top: 22.76px;
            color: #393D72;
            font-size: 18px;
            font-weight: 400;
            box-shadow:0 0 20px rgba(163, 163, 163, 0.41);
            margin: 0;
        }
    }

    &-bg-pics{
        height: 526px;
        position: relative;
    }

    &-bigclouds{
        top: -120px;
        background: url('../assets/Groups/clouds.svg')no-repeat center;
        background-size: cover;
        position: relative;
        width: 1920px;
        height: 626px;
        z-index: -1;
    }
    &-bus{
        background: url('../assets/Groups/bus.svg')no-repeat center;
        background-size: cover;
        width: 972px;
        height: 395px;
        top: 140px;
        left: 700px;
        position: absolute;
    }
    &-polygon{
        background: url('../assets/Groups/Polygon\ 1.svg')no-repeat center;
        background-size: cover;
        width: 300px;
        height: 153px;
        position: absolute;
        top: 410px;
        left: 450px;
    }
    &-reserve{
        background-color: $secondary-color;
        height: 624px;
        width: 1920px;
        position: relative;
    }
    &-content{

        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 0;
        justify-content: space-between;
        margin: 0;
        margin-top: 102px;

        h1{
            color: $primary-color;
            font-size: 75px;
            font-weight: 700;
        }
        
        h2{
            color: #fff;
            font-size: 50px;
            font-weight: 400;
        }

        h3{
            color: #fff;
            font-weight: 400;
            font-size: 35px;
        }

        button{
            width: 217px;
            height: 55px;
            font-size: 19px;
            color: #fff;
            background-color: $primary-color;
            border-radius: 50px;
            border: none;
            margin-top: 55px;
            cursor: pointer;
            z-index: 1000;
        }
    }
    &-bgdots{
        background: url('../assets/Groups/background.svg')no-repeat center;
        background-size: cover;
        position: relative;
        width: 1920px;
        height: 626px;
        z-index: 0;
        top: -490px;
    }
    &-smallclouds{
        background: url('../assets/Groups/cloudssmall.svg')no-repeat center;
        background-size: cover;
        position: relative;
        width: 1920px;
        height: 110px;
        z-index: 1;
        top: -600px;
    }
    &-album{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
            &-title{
                margin-top: 69px;
                margin-bottom: 111px;
                color: $primary-color;
                font-weight: 500;
                font-size: 35px;
            }
        }
    &-gallery{
         display: grid;
        grid-template-columns: repeat(6, 228px);
        grid-template-rows: repeat(3, 223px);
        gap: 11px;
        width: 1440px;
        height: 757px;

      img{
        width: 228px;
        height: 223px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
        transition: transform 0.3s ease;
      }
    }
    &-icon1{
        background: url('../assets/Groups/icon-idea.svg')no-repeat center;
        background-size: cover;
        position: absolute;
        width: 84px;
        height: 101px;
        z-index: 5;
        top: 29px;
        left: 387px;
    }

        &-icon2{
        background: url('../assets/Groups/icon-balloon.svg')no-repeat center;
        background-size: cover;
        position: absolute;
        width: 86px;
        height: 190px;
        z-index: 5;
        top: 291px;
        left: 358px;
    }

        &-icon3{
        background: url('../assets/Groups/icon-ball.svg')no-repeat center;
        background-size: cover;
        position: absolute;
        width: 89px;
        height: 88px;
        z-index: 5;
        top: 80px;
        left: 1491px;
    }

        &-icon4{
        background: url('../assets/Groups/icon-balloon2.svg')no-repeat center;
        background-size: cover;
        position: absolute;
        width: 53px;
        height: 163px;
        z-index: 5;
        top: 301px;
        left: 1431px;
    }
    
}

.homepage__review{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    
    h1{
        font-size: 35px;
        color: $primary-color;
        font-weight: 600;
        margin-top: 178px;
        margin-bottom: 122px;
    }
    &-container{
        display: flex;
        gap: 23px;
        position: relative;
    }
    &-clouds{
        position: absolute;
        top: 350px;
        left: 0;
        height: 201px;
        width: 1920px;
        background-position: center top;
        content: '';
        background-repeat: no-repeat;
        background: url(../assets/Parents-about-us/clouds.svg);
    }
    &-plane{
        position: absolute;
        top: -250px;
        left: 57px;
        height: 351px;
       width: 241px;
        background-position: center top;
        content: '';
        background-repeat: no-repeat;
        background: url(../assets/Parents-about-us/icon-plane.svg);
        z-index: 5;
    }

    &-parent{
        display: flex;
        align-items: center;
        margin-left: 70px;
        margin-top: 30px;

        img{
            width: 84px;
            height: 84px;
            
        }
        span{
            margin-left: 20px;
            font-size: 18px;
            color: $primary-color;
        }
    }

    &-content{
        width: 460px;
        height: 238px;
        background-color: #FA496E;
        border-radius: 10px;
        position: relative;

        img{
            height: 69px;
            width: 69px;
            margin-top: 23px;
            margin-left: 23px;
        }
    }
    &-text{
        margin-left: 23px;
        margin-top: 9px;
        margin-right: 26px;
        line-height: 24px;
        font-size: 18px;
        color: #fff;
    }

}

.homepage__ourday{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 310px;
    h1{
        font-weight: 600;
        font-size: 35px;
        color: $primary-color;
        margin-bottom: 86.7px;
    }

    &-container{
        display: flex;
        margin-bottom: 155.12px;
        gap: 17.8px;
    }
    &-box{
        display: flex;
        flex-direction: column;
        width: 431.66px;
        height: 416.68px;

        img{
            width: 431.66px;
            height: 416.68px;
            border-radius: 10px;
        }
        p{
            color: $primary-color;
            font-size: 22px;
            font-weight: 500;
            line-height: 34px;
        }
    }
    &-questionbox{
        display: flex;
        gap: 55px;

        img{
            width: 616px;
            height: 660px;
        }
    }
}

.homepage__contacts{
    width: 1920px;
    background-color: #3A3D72;
    display: flex;
    margin-top: 169px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    &-info{
        display: flex;
        justify-content: center;
        gap: 100px;
        align-items: center;
        text-align: center;
        margin-top: 112px;
    }
        &-num{
            display: flex;
            flex-direction: column;
            padding: 0;
            align-items: center;
            height: 637px;
            

            h1{
                font-size: 75px;
                color: #FFAD00;
                font-weight: 700;
                padding: 0;
                margin: 0;
                margin-bottom: 44px;

            }
            h2{
                font-size: 50px;
                font-weight: 600;
                color: #fff;
                padding: 0;
                margin: 0;
                margin-bottom: 37px;

            }
            h3{
                color: #fff;
                font-size: 35px;
                font-weight: 500;padding: 0;
                margin: 0;
                margin-bottom: 44px;
            }

            button{
                background-color: #FFAD00;
                width: 217px;
                height: 55px;
                color: #fff;
                font-size: 19px;
                border: none;
                border-radius: 30px;
                z-index: 999;
                cursor: pointer;
            }
        }

        &-map{
            width: 788px;
            height: 468px;
            background-color: #FFAD00;
            border-radius: 20px;
        }
        
        &-bgdots{
        background: url('../assets/Contacts/dots.svg')no-repeat center;
        background-size: cover;
        position: absolute;
        width: 1920px;
        height: 637px;
        z-index: 0;
        }


        &-icon1{
        background: url('../assets/Contacts/icon-idea.svg')no-repeat center;
        background-size: cover;
        position: absolute;
        width: 84px;
        height: 101px;
        z-index: 5;
        top: 31px;
        left: 154px;
        }

        &-icon2{
        background: url('../assets/Contacts/icon-balloon.svg')no-repeat center;
        background-size: cover;
        position: absolute;
        width: 86px;
        height: 190px;
        z-index: 5;
        top: 327px;
        left: 51px;
    }

        &-icon3{
        background: url('../assets/Contacts/icon-ball.svg')no-repeat center;
        background-size: cover;
        position: absolute;
        width: 89px;
        height: 88px;
        z-index: 5;
        top: 51px;
        left: 1548px;
    }

        &-icon4{
        background: url('../assets/Contacts/icon-balloon2.svg')no-repeat center;
        background-size: cover;
        position: absolute;
        width: 53px;
        height: 163px;
        z-index: 5;
        top: 451px;
        left: 1657px;
    }
}



.homepage__review-box:nth-child(4n+2) .homepage__review-content{
    background-color: #FEB857;
}
.homepage__review-box:nth-child(4n+3) .homepage__review-content{
    background-color: #874BFF;
}
.homepage__review-box:nth-child(4n+4) .homepage__review-content{
    background-color: #00C70D;
}



/*Hover, after, before*/
.homepage__home::before{
    content: "";
    position: absolute;
    width: 1920px;
    height: 100%;
    background-image: url('../assets/Home/sloud_xl.svg');background-repeat: no-repeat; background-position:0px 550px;
    background-size: contain;
    top: 100px;
    z-index: -1;
}

.homepage__review-content::after {
    position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -200px;
    height: 48px;
    width: 70px;
    background-position: center top;
    content: '';
    background-repeat: no-repeat;
    background: url(../assets/Parents-about-us/after1.svg);
}
.homepage__review-box:nth-child(4n+2) .homepage__review-content::after{
    background: url(../assets/Parents-about-us/after2.svg);
}
.homepage__review-box:nth-child(4n+3) .homepage__review-content::after{
    background: url(../assets/Parents-about-us/after3.svg);
}
.homepage__review-box:nth-child(4n+4) .homepage__review-content::after{
    background: url(../assets/Parents-about-us/after4.svg);
}

.homepage__about-girlimg::after{content: "";
    position: absolute;
    width: 243.34px;
    height: 524px;
    top: 150px;
    left: 370px;
    background: url('../assets/About/giraffe.svg');
    background-size: contain;
    z-index: 2;
    }
.homepage__about-adv-item:hover{
    margin-top: 20px;
    box-shadow:0 0 30px rgba(111, 111, 111, 0.41);
    border-radius: 20px;
    transition: 0.5s;
}

.homepage__groups-gallery img:hover {
      transform: scale(1.05);
    }

.homepage__groups-bigclods::after{
        content: "";
        position: absolute;
        width: 972px;
        height: 395px;
        background: url('../assets/Groups/bus.svg');
        background-size: contain;
        z-index: 2;
    }

.homepage__groups-lesson:hover{
    margin-top: 20px;
    transition: 0.5s;
}

.homepage__groups-lesson-text:hover{
            box-shadow:0 0 35px rgba(91, 91, 91, 0.41);
            transition: 0.2s;

}
.homepage__groups::before{
    content: "";
    position: absolute;
    top: -30px;
    width: 1920px;
    height: 229px;
    background-image: url('../assets/Groups/paper-plane.svg');
    background-repeat: no-repeat; 
    background-position: 210px;
    background-size: 1521px;
    z-index: -1;
}

.homepage__groups-album::before{
    content: "";
    position: absolute;
    width: 1920px;
    height: 100%;
    background-image: url('../assets/Album/upper-clouds.svg');
    background-repeat: no-repeat; 
    background-position:0px -100px;
    background-size: contain;
    top: 100px;
    z-index: -1;
}


.homepage__contacts-num button:hover{
    color: #FFAD00;
    width: 217px;
    height: 55px;
    background-color: #fff;
    font-size: 19px;
    border: 1px solid #FFAD00;
    border-radius: 30px;
    z-index: 999;
    cursor: pointer;
}


.homepage__groups-content button:hover {
    cursor: pointer;
    border: 1px solid #393D72;
    background-color: #fff;
    color: #393D72;
    font-weight: 500;
    transition: 0.5s;
    z-index: 1000;
}


/*Адаптация под iPhone*/

@media (max-width: 428px) {
    .homepage{
        width: 428px;
    }
  .homepage__home {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
    height: auto;

    &-block {
      flex-direction: column;
      align-items: center;
    }

    &-title {
      margin-top: 40px;
      font-size: 28px;
      width: 100%;
      height: auto;
      line-height: 36px;
      text-align: left;
    }
    
    &-children  {
      height: 207px;
      width: 218px;

        &-children img {
        height: 207px;
        width: 218px;
        }
    }

    &-btnbox {
      gap: 20px;
      width: 100%;
    }

    &-btn {
      width: 100%;
      max-width: 300px;
      height: 50px;
      font-size: 16px;
    }
  }
  
  .homepage__about {
    &-title {
      width: 100%;
      font-size: 28px;
      line-height: 36px;
      text-align: center;
      background-size: 123px 82px;
      justify-content: center;
      padding: 0 10px;
      background-position: 23px 2px;
      position: relative;
    }

    &-content {
      display: block;
      margin-top: 30px;
    }

    &-text {
      width: 100%;
      max-width: 380px;
      margin-top: 0;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      padding: 0 15px;
      flex: 1;
    }

    &-girlimg{
        float: left;
        width: 191px;   
        height: 216px;
    }

    &-plane {
      display: none;
    }

    &-adv {
      flex-direction: column;
      width: 100%;
      align-items: center;
      margin-top: 50px;
      gap: 20px;

      &-item {
        width: 90%;
        max-width: 360px;
        text-align: center;
      }

      &-header {
        font-size: 15px;
        margin: 15px 10px;
        justify-content: center;

        h3 {
          margin-left: 10px;
          font-size: 16px;
        }
      }

      &-text {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  .homepage__groups {
    width: 100%;
    overflow: hidden;

    &-heading {
      width: 100%;
      justify-content: center;

      &-icon1, &-icon2, &-icon3, &-icon4 {
        display: none;
      }
    }

    &-title {
      margin-top: 108px;
      margin-bottom: 66px;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      padding: 0 10px;
    }

    &-lessons {
      flex-direction: column;
      align-items: center;
      gap: 40px;
      width: 100%;
      height: 1600px;
      margin-bottom: 100px;
    }

    &-lesson {
        width: 347px;
        height: 313px;

      &-text {
        font-size: 16px;

        height: auto;
        padding: 12px 60px;
      }
    }

    &-bg-pics{
        height: 250px;
    }

    &-bus{
        width: 421px;
        height: 171px;
        left: -215px;
        top: 50px;
    }

    &-bigclouds,
    &-polygon{
      display: none;
    }

        &-smallclouds {
            width: 428px;
            height: 120px;
            top: -380px;
        }

        &-bgdots{
            width: 428px;
            height: 534px;
            top: -270px;
        }

    &-reserve {
      width: 100%;
      height: 534px;
    }

    &-content {
      margin-top: 40px;
      text-align: center;

      h1 {
        font-size: 32px;
        line-height: 40px;
      }

      h2 {
        font-size: 22px;
        margin-top: 10px;
      }

      h3 {
        font-size: 18px;
        margin-top: 10px;
      }

      button {
        width: 180px;
        height: 48px;
        font-size: 16px;
        margin-top: 30px;
      }
    }

    &-album {
      &-title {
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 35px;
        text-align: center;
      }
    }

    &-gallery {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: 8px;
      padding: 0 10px;

      img {
        width: 100%;
        height: 160px;
        border-radius: 8px;
      }
    }

    &-icon1{
        left: 44px;
        top: 0;
    } 
    &-icon2{
        top: 255px;
        left: 15px;
    }
    &-icon3{
        top: 75px;
        left: 333px;
    }
    &-icon4 {
        top: 296px;
        left: 273px;
    }
  }
  .homepage__review {
    width: 400px; 

    h1 {
        font-size: 22px;
        margin-top: 60px;
        margin-bottom: 40px;
        text-align: center;
    }
    &-box{
        width: 400px;
    }

    &-container {
        flex-direction: column;
        justify-content: center;
        width: 400px;
        gap: 15px;
        align-items: center;

    }

    &-clouds {
        display: none; 
    }

    &-plane {
        display: none;
    }

    &-parent {
        margin: 15px 0 0 0;
        flex-direction: column;

        img {
            width: 60px;
            height: 60px;
        }
        span {
            font-size: 16px;
            margin: 10px 0 0 0;
        }
    }

    &-content {
        width: 100%;
        height: auto;
        padding-bottom: 15px;

        img {
            height: 50px;
            width: 50px;
            margin: 15px;
        }
    }

    &-text {
        margin: 10px 15px;
        font-size: 16px;
        line-height: 22px;
    }
}
.homepage__ourday {
    margin-top: 100px;
    padding: 0 15px;

    h1 {
        font-size: 24px;
        margin-bottom: 40px;
        text-align: center;
    }

    &-container {
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
        gap: 20px;
    }

    &-box {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: auto;
        }
        p {
            font-size: 18px;
            text-align: center;
            margin-top: 10px;
        }
    }

    &-questionbox {
        flex-direction: column;
        gap: 25px;
        align-items: center;

        img {
            width: 100%;
            height: auto;
            max-width: 350px; 
        }
    }
}
.homepage__contacts {
    width: 428px;
    margin-top: 50px; 
    flex-direction: column;
    align-items: center;

    &-info {
      flex-direction: column;
      gap: 30px;
      margin-top: 50px;
    }

    &-num {
      height: auto;
      h1 {
        font-size: 40px; 
        margin-bottom: 20px;
      }
      h2 {
        font-size: 28px;
        margin-bottom: 15px;
      }
      h3 {
        font-size: 20px;
        margin-bottom: 20px;
      }
      button {
        display: none;
      }
    }

    &-map {
      width: 90%; 
      height: auto;
      aspect-ratio: 4/3;        
    }

    &-bgdots {
      width: 428px;
      height: 466px;
    }

    &-icon1,
    &-icon2,
    &-icon3,
    &-icon4 {
      display: none;
    }
  }
  .homepage__about-girlimg::after{content: "";
    position: absolute;
    width: 79px;
    height:169px;
    top: 40px;
    left: 120px;
    background: url('../assets/About/giraffe.svg');
    background-size: contain;
    z-index: 2;
    }

}